svg {
}

.g1{fill:none;stroke:#000000; stroke-linecap: round; stroke-width: .6px;} /* Major infrastructure */
.g2{fill:none;stroke:#555555; stroke-linecap: round; stroke-width: .4px;} /* Minor infrastructure */
