svg {
}
.g0{fill:none;stroke:red;}
.g1{fill:none;stroke:orange;}
.g3{fill:none;stroke:yellow;}
.g4{fill:none;stroke:green;}
.g5{fill:none;stroke:blue;}
.g6{fill:none;stroke:indigo;}
.g7{fill:none;stroke:violet;}


.walls{fill:#7e7e7e;stroke-width:0;}
.g2{fill:none;stroke:#7e7e7e;stroke-width:0.366;stroke-linecap:round;stroke-linejoin:round;}
.pillars{fill:#7e7e7e;stroke-width:0;}